## Data Analytics II
1. Implement logistic regression using Python/R to perform classification on
Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision,
Recall on the given dataset.

In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report

le = LabelEncoder()
scaler = MinMaxScaler()
lgr = LogisticRegression()

In [8]:
df = pd.read_csv('Social_Network_Ads.csv')
if df.empty == False:
    print("loaded!")

loaded!

In [9]:
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [11]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [12]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [17]:
df['Gender'] = le.fit_transform(df.Gender)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    int64
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(5)
memory usage: 15.8 KB

In [22]:
df_new = scaler.fit_transform(df)

In [23]:
df = pd.DataFrame(df_new)
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [25]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=0)

In [26]:
fitted = lgr.fit(x_train,y_train)

In [27]:
print("r2 score = {}".format(fitted.score(x_test,y_test)))

r2 score = 0.8333333333333334

# Evaluation Matrix

In [28]:
predictions = fitted.predict(x_test)

In [29]:
predictions

array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1.,
       0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0.,
       0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1.,
       1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1.])

In [30]:
report = classification_report(y_test,predictions,output_dict=True)

In [31]:
report = pd.DataFrame(report).transpose()
report

              precision    recall  f1-score     support
0.0            0.816327  0.952381  0.879121   84.000000
1.0            0.882353  0.625000  0.731707   48.000000
accuracy       0.833333  0.833333  0.833333    0.833333
macro avg      0.849340  0.788690  0.805414  132.000000
weighted avg   0.840336  0.833333  0.825516  132.000000

In [32]:
cm = confusion_matrix(y_test,predictions)
cm

array([[80,  4],
       [18, 30]])

        negetive positive
true
false

In [33]:
tn ,fp, fn,tp  = cm.ravel()
res = '''True negetive  = {} \n
False negetive  = {}\n
True positive  = {}\n
False positive  = {}
'''
print(res.format(tn ,fp, fn,tp))

True negetive  = 80

False negetive  = 4

True positive  = 18

False positive  = 30

In [34]:
error_rate = (fp+fn)/(fp+fn+tp+tn)
print("Error rate = {}".format(error_rate))

Error rate = 0.16666666666666666